{% extends "base.html" %}
{% block content %}
<div class="text-center mt-5">
    <h1 class="display-4 text-primary">Правила игры</h1>
    <p class="lead">1. Отгадайте ребус.</p>
    <p class="lead">2. Используйте кнопки с буквами осетинского алфавита для ввода ответа.</p>
    <p class="lead">3. Нажмите "Подсказка", чтобы получить подсказку (доступно 3 подсказки).</p>
    <p class="lead">4. Нажмите "Следующий ребус", чтобы перейти к следующему ребусу.</p>
    <p class="lead">5. Если вы зарегистрированы, ваш рейтинг будет отображаться внизу окна.</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg mt-4">OK</a>
</div>
{% endblock %}