{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1 class="mb-4">Правила игры</h1>
    <ol class="list-group list-group-numbered mb-4">
        <li class="list-group-item">Отгадайте ребус, используя подсказки</li>
        <li class="list-group-item">Для ввода ответа используйте кнопки с буквами осетинского алфавита</li>
        <li class="list-group-item">У вас есть 3 подсказки для каждого ребуса</li>
        <li class="list-group-item">За каждый правильный ответ вы получаете 20 очков</li>
        <li class="list-group-item">Ваш рейтинг сохраняется в системе</li>
    </ol>
    <button onclick="window.location.href='{{ url_for('index') }}'" class="btn btn-primary">OK</button>
</div>
{% endblock %}